<mat-toolbar color="primary">

  <mat-toolbar-row class="mat-toolbar-row" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div fxFlex fxFlex="20%">
      <mat-form-field class="form-field">
        <mat-select placeholder="Sort by" [(ngModel)]="selectedSortByValue" name="sortby" (ngModelChange)="changeSortByValue($event.value)">
          <mat-option class="mat-options" *ngFor="let ele of sortby" [value]="ele">
            {{ele.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex fxFlex="20%">
      <mat-form-field class="form-field">
        <input matInput placeholder="Search user" name="username" [(ngModel)]="username" (keyup)="searchUser()">
      </mat-form-field>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex fxFlex="41%">
    <div class="user-total-count" *ngIf="users && users.total_count">
      <h5>Total Count : {{users && users.total_count ? users.total_count : 0 }}</h5>
    </div>
    <app-profile *ngFor="let user of users.items" [user]="user"></app-profile>
  </div>
</div>

<div *ngIf="users && users.items && users.items.length" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="setPagination($event)">
  </mat-paginator>
</div>